- name: 'set up nginx load balancer'
  become: true
  hosts: nginxlb
  roles:
    - nginx
  
- name: 'initialize docker swarm'
  become: true
  hosts: managers
  roles: 
    - docker
    - swarm-init

- name: 'add workers to docker swarm'
  become: true
  hosts: workers
  roles:
    - docker 
    - swarm-worker

