version: "3.7"
services:
    stack-project_app_core:
      #container_name: stack-project_app_core
      image:  maxpaqzrio/app_core
      build: ./app_core
      ports:
        - target: 5100
          published: 5100
          protocol: tcp

    stack-project_role_generator:
      #container_name: stack-project_role_generator
      image:  maxpaqzrio/role_generator
      build: ./role_generator
      ports:
        - target: 5001
          published: 5001
          protocol: tcp

    stack-project_weapons_generator:
      #container_name: stack-project_weapons_generator
      image:  maxpaqzrio/weapon_generator
      build: ./weapon_generator
      ports:
        - target: 5002
          published: 5002
          protocol: tcp
          
    stack-project_race_generator:
      #container_name: stack-project_race_generator
      image:  maxpaqzrio/race_generator
      build: ./race_generator
      ports:
        - target: 5003
          published: 5003
          protocol: tcp
          
    stack-project_rating_generator:
     # container_name: stack-project_rating_generator
      image:  maxpaqzrio/rating_generator
      build: ./rating_generator
      ports:
        - target: 5005
          published: 5005
          protocol: tcp
          





 
