version: "3.7"
services:
    nginx:
      image: nginx:latest
      ports:
      - target: 80
        published: 80
        protocol: tcp
      volumes:
      - type: bind
        source: ./nginx/nginx.conf
        target: /etc/nginx/nginx.conf

    app_core:
      build: ./app_core
      ports:
        - target: 5100
          published: 5100
          protocol: tcp

    role_generator:
      build: ./role_generator
      ports:
        - target: 5001
          published: 5001
          protocol: tcp

    weapons_generator:
      build: ./weapon_generator
      ports:
        - target: 5002
          published: 5002
          protocol: tcp
          
    race_generator:
      build: ./race_generator
      ports:
        - target: 5003
          published: 5003
          protocol: tcp
          





 
