{% extends "base.html" %}
{% block body %}

<h1> HAHA ! A SPELL HAS BEEN CAST AND NOW YOU WILL FEEL THE WRATH OF BORING charachters WITH TERRIBLE RATINGS </h1>>


    <table>

        <tr>
            <th> First Name </th>
            <th> Surname </th>
            <th> Race </th>
            <th> Weapon </th>
            <th> Role </th>
            <th> Rating </th>
        </tr>
        {% for charachter in charachters  %}
           <tr> 
               
            <td> {{charachter.first_name}}</td>
            <td> {{charachter.second_name}}</td>
            <td> {{charachter.race.race}} </td>
            <td> {{charachter.weapon.weapon}}</td>
            <td> {{charachter.role.role}}</td>
            <td> {{charachter.rating}} </td>
                
           </tr>
          
        {% endfor %}
        </table>


{% endblock %}